<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926070179991-2i1bqj8nuo2d53276am98c9uf9a3rrae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926070179991-2i1bqj8nuo2d53276am98c9uf9a3rrae</string>
	<key>API_KEY</key>
	<string>AIzaSyAFGL5Y1ofMBaCn_Q4J6Z66OmYiz6OpofU</string>
	<key>GCM_SENDER_ID</key>
	<string>926070179991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-8e907</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-8e907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926070179991:ios:b19da629d83360e34741d2</string>
</dict>
</plist>